
# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc

# Ignore cache directories
__pycache__/

# Ignore uploads directory
uploads/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore local configuration files
.env
.env.local
